body {
  background-color: lavender;
  color: rgb(50, 70, 77);
}

.calc {
  display: flex;
  height: 210px;
  margin-top: 30px;
  margin-left: 30px;
}
.calc div {
  width: 78px;
}
.calc__first-column input,
.calc__second-column input,
.calc__third-column input {
  width: 70px;
  height: 16px;
  text-align: center;
}
.column-count {
  margin: 20px 5px 0 65px;
  padding: 0;
}
.column-count li {
  margin-bottom: 2px;
  padding-bottom: 4px;
}
h3 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 15px;
}
.calc__first-column input {
  margin-bottom: 2px;
}
.calc__second-column input {
  margin-bottom: 2px;
  background-color: rgba(211, 218, 221, 0.966);
  border: 2px solid rgb(170, 180, 184);
}
.calc__third-column input {
  width: 90px;
  margin-bottom: 2px;
  background-color: rgba(211, 218, 221, 0.966);
  border: 2px solid rgb(170, 180, 184);
}
.decision {
  align-self: center;
  flex-basis: 300px;
  width: 450px;
}
.hidden {
  display: none;
}
.calc__calculate {
  margin-left: 20px;
  align-self: flex-end;
}
.calc-add {
  align-self: flex-end;
}
.calc-remove {
  align-self: flex-end;
}
.calc-default {
  align-self: flex-end;
}
.fourth-column {
  align-self: flex-end;
}
